.badge {
  padding: 20px!important;
  margin: 20px;
}

.btn1 {
  margin-right: 10px;
}

.badmoods {
  padding-top: 20px;
  padding-bottom: 400px;
  font-size: 12px;
}

.goodmoods {
  padding-top: 20px;
  font-size: 12px;
}
