<div class="container">

  <button class="btn btn-primary btn1" (click)="goodmood=true">Good Traits</button>
  <!--<button class="btn btn-info" (click)="goodmood=false">Bad Traits</button>-->

  <!--<div class="goodmoods" *ngIf="goodmood else badmood">-->
    <div class="row goodmoods">
      <div class="col-md-2">
        <p><label for="customRange1" class="form-label">Smart</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Successful</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Wealthy</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Accomplished</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Charming</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Funny</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Charismatic</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Likeable</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Friendly</label>
        <br><input type="range" class="form-range" id="customRange1">
      </div>
      <div class="col-md-2">
        <p><label for="customRange1" class="form-label">Good Speaker</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Nice Hair</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Sociable</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Extroverted</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Trustworthy</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Hard-working</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Pleasure to Work With</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Relateable</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Genius</label>
        <br><input type="range" class="form-range" id="customRange1">
      </div>
      <div class="col-md-2">
        <p><label for="customRange1" class="form-label">Rich</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Interesting</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Great Physique</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Hard-worker</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Fashionable</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Talented</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Great voice</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Engaging</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Inspiring</label>
        <br><input type="range" class="form-range" id="customRange1">
      </div>
      <div class="col-md-2">
        <p><label for="customRange1" class="form-label">Eloquent</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Great storyteller</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Comedian</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Intelligent</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Opinionated</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Easy to get along with</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Connector</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Well-traveled</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Good writer</label>
        <br><input type="range" class="form-range" id="customRange1">
      </div>
      <div class="col-md-2">
        <p><label for="customRange1" class="form-label">Good cook</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Great dancer</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Smells good</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Well groomed</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Sexy</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Beautiful</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Relaxed</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Masculine</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Loveable</label>
        <br><input type="range" class="form-range" id="customRange1">
      </div>
      <div class="col-md-2">
        <p><label for="customRange1" class="form-label">Leader</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Protective</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Fun</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Kind</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Understanding</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Empathetic</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Witty</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Helpful</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Talkative</label>
        <br><input type="range" class="form-range" id="customRange1">
        <button class="btn btn-primary">Submit</button>
      </div>
    </div>
  <!--</div>-->

  <!--<ng-template #badmood>
    <div class="row badmoods">
      <div class="col-md-2">
        <p><label for="customRange1" class="form-label">Childish</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Dependent</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Broke</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Depressed</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Anxious</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Lazy</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Stupid</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Petty</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Awkward</label>
        <br><input type="range" class="form-range" id="customRange1">
      </div>
      <div class="col-md-2">
        <p><label for="customRange1" class="form-label">Shy</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Wierd</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Ugly</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Fat</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Disheveled</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Poor</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Smelly</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Annoying</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Mumbler</label>
        <br><input type="range" class="form-range" id="customRange1">
      </div>
      <div class="col-md-2">
        <p><label for="customRange1" class="form-label">Soft-spoken</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Annoying voice</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Pushy</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Aggressive</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Boring</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Crazy</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Basic</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Psycho</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Manic</label>
        <br><input type="range" class="form-range" id="customRange1">
      </div>
      <div class="col-md-2">
        <p><label for="customRange1" class="form-label">Don't work out</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Paranoid</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Weak</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Complainer</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Dramatic</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Needy</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Distant</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Clueless</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Negative-nancy</label>
        <br><input type="range" class="form-range" id="customRange1">
      </div>
      <div class="col-md-2">
        <p><label for="customRange1" class="form-label">Too serious</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Talks too much</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Never smiles</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Never laughs</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Unfashionable</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Poor speaker</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Antisocial</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Troublemaker</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Rude</label>
        <br><input type="range" class="form-range" id="customRange1">
      </div>
      <div class="col-md-2">
        <p><label for="customRange1" class="form-label">Mean</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Aloof</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Fake</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Combative</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Quiet</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Nervous</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Disengaged</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Toxic</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Silent</label>
        <br><input type="range" class="form-range" id="customRange1">
        <button class="btn btn-primary">Submit</button>
      </div>
    </div>
  </ng-template>-->



</div>
