<div class="container">

  <button class="btn btn-primary btn1" (click)="goodmood=true">Good Mood</button>
  <!--<button class="btn btn-info" (click)="goodmood=false">Bad Mood</button>-->

  <!--<div class="goodmoods" *ngIf="goodmood else badmood">-->
    <div class="row goodmoods">
      <div class="col-md-2">
        <p><label for="customRange1" class="form-label">Happy</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Amazing</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Chipper</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Intelligent</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Growing</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Capable</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Adventurous</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Giving</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Openness</label>
        <br><input type="range" class="form-range" id="customRange1">
      </div>
      <div class="col-md-2">
        <p><label for="customRange1" class="form-label">Philanthropic</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Lighthearted</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Easygoing</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Carefree</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Well-rested</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Tranquility</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Peaceful thoughts</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Focused</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Loving</label>
        <br><input type="range" class="form-range" id="customRange1">
      </div>
      <div class="col-md-2">
        <p><label for="customRange1" class="form-label">Connected</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Open to Friendship</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Curious</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Euphoria</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Serenity</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Accomplished</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Recharged</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Spectacular</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Capable</label>
        <br><input type="range" class="form-range" id="customRange1">
      </div>
      <div class="col-md-2">
        <p><label for="customRange1" class="form-label">Caring</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Energized</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Productive</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Stimulated</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Passionate</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Optimized</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Energized</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Optimistic</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Not Procrastinating</label>
        <br><input type="range" class="form-range" id="customRange1">
      </div>
      <div class="col-md-2">
        <p><label for="customRange1" class="form-label">Hopeful</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Motivated</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Smiling</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Disciplined</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Positive</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Proud of myself</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Calm</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Focused</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Blissful</label>
        <br><input type="range" class="form-range" id="customRange1">
      </div>
      <div class="col-md-2">
        <p><label for="customRange1" class="form-label">Pretty</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Smart</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Peaceful</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Everything will be fine</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Badass</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Great</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Confident</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Brave</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Cool</label>
        <br><input type="range" class="form-range" id="customRange1">
        <button class="btn btn-primary">Submit</button>
      </div>
    </div>
  <!--</div>-->

  <!--<ng-template #badmood>
    <div class="row badmoods">
      <div class="col-md-2">
        <p><label for="customRange1" class="form-label">Angry</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Scared</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Lonely</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Hurt</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Bored</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Sleepy</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Want to Quit</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Self Destructive</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Need a friend</label>
        <br><input type="range" class="form-range" id="customRange1">
      </div>
      <div class="col-md-2">
        <p><label for="customRange1" class="form-label">Impatient</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Panicked</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Bitter</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Distrustful</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Stressed</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Want to give up</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Racing thoughts</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Loss of focus</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Wanting to fight</label>
        <br><input type="range" class="form-range" id="customRange1">
      </div>
      <div class="col-md-2">
        <p><label for="customRange1" class="form-label">Hopeless</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Disgust</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Friction</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Jaded</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Wanting to run away</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Tired</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Need a vacation</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Negative voices</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Violent</label>
        <br><input type="range" class="form-range" id="customRange1">
      </div>
      <div class="col-md-2">
        <p><label for="customRange1" class="form-label">Worn Out</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Ashamed</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Hateful</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Aggitated</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Burned Out</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Pain</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Heartbroken</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Disturbing mental images</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Wasting Time</label>
        <br><input type="range" class="form-range" id="customRange1">
      </div>
      <div class="col-md-2">
        <p><label for="customRange1" class="form-label">Not good enough</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Fed Up</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Confused</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Fatigued</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Embarassed</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Procrastinating</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Fearful</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Guilt</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Shame</label>
        <br><input type="range" class="form-range" id="customRange1">
      </div>
      <div class="col-md-2">
        <p><label for="customRange1" class="form-label">Ugly</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Irritated</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Frustrated</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Drained</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Annoyed</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Distracted</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Worried</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Lazy</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Unaccomplished</label>
        <br><input type="range" class="form-range" id="customRange1">
        <button class="btn btn-primary">Submit</button>
      </div>
    </div>
  </ng-template>-->



</div>
