<div class="container">
  <h3 class="text">Rate your:</h3>&nbsp;
  <button class="btn btn-primary btn1" (click)="goodmood=true">Happy Feelings :)</button>
  <button class="btn btn-info" (click)="goodmood=false">Sad Feelings :(</button>

  <div class="goodmoods" *ngIf="goodmood else badmood">
    <div class="row goodmoods">
      <div class="col-md-2">
        <p><label for="customRange1" class="form-label">Spectacular</label>
        <br><input type="range" class="form-range" id="customRange1" (mouseup)="playSound()">
        <p><label for="customRange1" class="form-label">Hopeful</label>
        <br><input type="range" class="form-range" id="customRange1" (mouseup)="playSound()">
        <p><label for="customRange1" class="form-label">Kind</label>
        <br><input type="range" class="form-range" id="customRange1" (mouseup)="playSound()">
        <p><label for="customRange1" class="form-label">Focused</label>
        <br><input type="range" class="form-range" id="customRange1" (mouseup)="playSound()">
        <p><label for="customRange1" class="form-label">Powerful</label>
        <br><input type="range" class="form-range" id="customRange1" (mouseup)="playSound()">
        <p><label for="customRange1" class="form-label">Strong</label>
        <br><input type="range" class="form-range" id="customRange1" (mouseup)="playSound()">
      </div>
      <div class="col-md-2">
        <p><label for="customRange1" class="form-label">Supportive</label>
        <br><input type="range" class="form-range" id="customRange1" (mouseup)="playSound()">
        <p><label for="customRange1" class="form-label">Creative</label>
        <br><input type="range" class="form-range" id="customRange1" (mouseup)="playSound()">
        <p><label for="customRange1" class="form-label">Nonchalant</label>
        <br><input type="range" class="form-range" id="customRange1" (mouseup)="playSound()">
        <p><label for="customRange1" class="form-label">Open</label>
        <br><input type="range" class="form-range" id="customRange1" (mouseup)="playSound()">
        <p><label for="customRange1" class="form-label">Relaxed</label>
        <br><input type="range" class="form-range" id="customRange1" (mouseup)="playSound()">
        <p><label for="customRange1" class="form-label">Smooth</label>
        <br><input type="range" class="form-range" id="customRange1" (mouseup)="playSound()">
      </div>
      <div class="col-md-2"><!--
        <p><label for="customRange1" class="form-label">Connected</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Open to Friendship</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Curious</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Euphoria</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Serenity</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Accomplished</label>
        <br><input type="range" class="form-range" id="customRange1">-->
      </div>
      <div class="col-md-2"><!--
        <p><label for="customRange1" class="form-label">Caring</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Energized</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Productive</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Stimulated</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Passionate</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Optimized</label>
        <br><input type="range" class="form-range" id="customRange1">-->
      </div>
      <div class="col-md-2"><!--
        <p><label for="customRange1" class="form-label">Hopeful</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Motivated</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Smiling</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Disciplined</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Positive</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Proud of myself</label>
        <br><input type="range" class="form-range" id="customRange1">-->
      </div>
      <div class="col-md-2"><!--
        <p><label for="customRange1" class="form-label">Pretty</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Smart</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Peaceful</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Everything will be fine</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Badass</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Great</label>
        <br><input type="range" class="form-range" id="customRange1">-->
        <button class="btn btn-primary" (click)="playSound()">Submit</button>
      </div>
    </div>
  </div>

  <ng-template #badmood>
    <h4>Advanced features are available for Pro members only</h4>
    <!--
    <div class="row badmoods">
      <div class="col-md-2">
        <p><label for="customRange1" class="form-label">Angry</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Scared</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Lonely</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Hurt</label>
        <br><input type="range" class="form-range" id="customRange1">
      </div>
      <div class="col-md-2">
        <p><label for="customRange1" class="form-label">Impatient</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Panicked</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Bitter</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Distrustful</label>
        <br><input type="range" class="form-range" id="customRange1">
      </div>
      <div class="col-md-2">
        <p><label for="customRange1" class="form-label">Hopeless</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Disgust</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Friction</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Jaded</label>
        <br><input type="range" class="form-range" id="customRange1">
      </div>
      <div class="col-md-2">
        <p><label for="customRange1" class="form-label">Worn Out</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Ashamed</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Hateful</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Aggitated</label>
        <br><input type="range" class="form-range" id="customRange1">
      </div>
      <div class="col-md-2">
        <p><label for="customRange1" class="form-label">Not good enough</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Fed Up</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Confused</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Fatigued</label>
        <br><input type="range" class="form-range" id="customRange1">
      </div>
      <div class="col-md-2">
        <p><label for="customRange1" class="form-label">Ugly</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Irritated</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Frustrated</label>
        <br><input type="range" class="form-range" id="customRange1">
        <p><label for="customRange1" class="form-label">Drained</label>
        <br><input type="range" class="form-range" id="customRange1">
        <button class="btn btn-primary" (click)="logMood()">Submit</button>
      </div>
    </div>-->
  </ng-template>



</div>
