<div class="contiainer">
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-8">
        <div class="form-group promptpicker">
            <p>
              <p>
            <label for="power"><h3>Today's Positive Affirmation</h3></label>
            <p></p>
            <button class="btn btn-primary" (click)="getNew()">Daily Affirmation</button>
          </div>
          <p></p>
        <h1>{{affirmation}}
        </h1>
        <div class="header-container svg-container">
        <img src="assets/teatro.svg" alt="Icon" class="transparent-svg bounce-in-svg">
        </div>
      </div>
    <div class="col-md-3">
          <div class="card advert">
            <div class="card-header">
              <h6 class="h6">Advertisement</h6>
            </div>
            <div>
              <a [href]="currentLink()">
                <div class="image-frame">
                  <img [src]="currentImage()" alt="Adverts" class="fade-in">
                </div>
              </a>
          </div>
          </div>
    </div>
  </div>

