<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Here are your daily positive affirmations:</h3>

        </div>
        <div class="col-md-4">
            <p></p>
            <h4>today will be an awesome day</h4>
            <h4>i am hopeful for all my tomorrows</h4>
            <h4>i am letting go of the painful memories</h4>
        </div>
        <div class="col-md-4">
            <p></p>
            <h4>i am leading my life from a place of love</h4>
            <h4>i deserve the good things only if i work hard for them</h4>
        </div>
    </div>
</div>
