<div class="contiainer">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <div class="form-group promptpicker">
            <p>
              <p>
            <label for="power"><h3>Today's Positive Affirmation</h3></label>
            <p></p>
            <button class="btn btn-primary" (click)="getNew()">Daily Affirmation</button>
          </div>
          <p></p>
        <h1>{{affirmation}}
        </h1>
      </div>
    <div class="col-md-4">
    </div>
  </div>

